.user-detail-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.user-detail-header {
    min-height: 250px;
    background-color: var(--accent-pink);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 32px;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    .user-details {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            margin-bottom: 4px;
        }

    }
}